* {
  margin: 0;
  padding: 0;
}
.dropdown {
  margin: 0 auto;
}
nav {
  height: 60px;
  background: gray;
}
.logo {
  padding: 10px;
  width: 150px;
  height: auto;
}

nav ul {
  margin: 0 30px;
  padding: 0;
  float: right;
}
nav ul li {
  background: grey;
  position: relative;
  list-style: none;
  display: inline-block;
  width: 150px;
  text-align: center;
}
nav ul li a {
  color: wheat;
  display: block;
  padding: 0 15px;
  text-decoration: none;
  line-height: 60px;
  font-size: 20px;
}
nav ul li a:hover {
  background: darkgray;
}
nav ul ul {
  position: absolute;
  top: 60px;
  left: -30px;
  display: none;
}
nav ul li:hover > ul {
  display: block;
}
nav ul ul li {
  float: none;
  list-style: none;
  position: relative;
}
nav ul ul ul li {
  position: relative;
  top: -60px;
  left: 150px;
}
.body {
  background-image: url("fiha.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  margin: 0 auto;
}

.body p {
  background: rgba(240, 230, 140, 0.411);
}
